.container {
  margin: 50px 0 0 50px;
  font-family: Open-Sans;
  font-size: 14px;
}

h1 {
  font-family: Open-Sans;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-flow: column;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  margin: 0 0 10px 50px;
}

