doctype html
html(lang='en')
    head
        title Beauty
    body
        div.beauty-checkbox
            input(type="checkbox" id="toggle" name="toggle" value="is_on")
            label(for="toggle" class="toy-toggle")
                span(class="border1")
                span(class="border2")
                span(class="border3")
                span(class="handle")
                    span(class="handle-off")
                    span(class="handle-on")
        div.beauty-buttons
            button.normal-example Кнопка
            button.hover-example Кнопка
            button.active-example Кнопка
