doctype html
html(lang='en')
    head
        title Buttons
    body
        div.container
            div.btns-box-1
                div.column-grey-buttons
                    button.btn.btn--grey Просмотреть
                    button.btn.btn--grey.grey--hover Просмотреть
                    button.btn.btn--grey.grey--active Просмотреть
                    button.btn.btn--grey.grey--inactive Просмотреть
                div.column-red-border-buttons
                    button.btn.btn--red-border Просмотреть
                    button.btn.btn--red-border.red-border--hover Просмотреть
                    button.btn.btn--red-border.red-border--active Просмотреть
                    button.btn.btn--red-border.red-border--inactive Просмотреть
                div.column-red-buttons
                    button.btn.btn--red Просмотреть
                    button.btn.btn--red.red--hover Просмотреть
                    button.btn.btn--red.red--active Просмотреть
                    button.btn.btn--red.red--inactive Просмотреть
                div.column-arrow-buttons
                    button.btn.btn--arrow Просмотреть
                    button.btn.btn--arrow.arrow--hover Просмотреть
                    button.btn.btn--arrow.arrow--active Просмотреть
                    button.btn.btn--arrow.arrow--inactive Просмотреть
                div.column-green-buttons
                    button.btn.btn--green Просмотреть
                    button.btn.btn--green.green--hover Просмотреть
                    button.btn.btn--green.green--active Просмотреть
                    button.btn.btn--green.green--inactive Просмотреть
                div.column-green-border-buttons
                    button.btn.btn--green-border Просмотреть
                    button.btn.btn--green-border.green-border--hover Просмотреть
                    button.btn.btn--green-border.green-border--active Просмотреть
                    button.btn.btn--green-border.green-border--inactive Просмотреть
            div.btns-box-2
                div.row-pic-buttons
                    button.btn.btn--pic.edit Редактировать
                    button.btn.btn--pic.unload Выгрузить в Excel
                    button.btn.btn--pic.delete-list Удалить список
                    button.btn.btn--pic.print Распечатать
                    button.btn.btn--pic.load Загрузить из файла
