doctype html
html(lang='en')
    head
        title Form
    body
        div.container
            div.header
                span.header__text-1 Заполните поля
                span.header__text-2 ну пожалуйста
            form.form-box-sheet-1
                div.form-main
                    span.form-main-head Основное
                    div.text-field-name
                        label Имя
                        input( type='text' placeholder="по паспорту")
                    div.text-field-color
                        label Цвет вашего настроения
                        input( type='text')
                div.form-additional.effect1
                    span.form-additional-head Дополнительное
                    div.textarea-box
                        label Комментарий
                        textarea( placeholder="Напишите хоть что-нибудь. Если хотите, конечно.")
                div.form-footer
                    div.radio-box
                        label(class='radio')
                           input(type='radio')
                           div.radio-text Ну а тут просто полежит радиобатон
                    div.checkbox
                        label(class='checkbox')
                           input(type='checkbox')
                           div.checkbox-text Соглашаюсь на всё, что бы Вы ни придумали и осознаю, что это может означать &nbsp
                                             a(href="URL") что угодно
                    button Отправить все мои данные
            div.form-box-sheet-2
            div.form-box-sheet-3
            div.shadow-under-form.effect2










