doctype html
html(lang='en')
    head
        title Главная страница
    body
        div.container
           h1 Тестовое задание
           h2 Здесь можно посмотреть итоговый результат
           ol.links
              li
                 a(href="https://ternovykhirina.github.io/SamsonFront/text.html") Текст
              li
                 a(href="https://ternovykhirina.github.io/SamsonFront/form.html") Форма
              li
                 a(href="https://ternovykhirina.github.io/SamsonFront/buttons.html") Кнопки
              li
                 a(href="https://ternovykhirina.github.io/SamsonFront/slider.html") Слайдер
              li
                 a(href="https://ternovykhirina.github.io/SamsonFront/beauty.html") Красота

