doctype html
html(lang='en')
    head
        title Slider
    body
           div.slide-box
               div.card
                  img(src="/images/slide-1.png" width="250px" height="250px" alt="Товар 1")
                  div.description Набор настольный BESTAR "Amenhotep" из дерева, 8 предметов, двойной лоток, светлая вишня
               div.card
                  img(src="/images/slide-2.png" width="250px" height="250px" alt="Товар 2")
                  div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, красное дерево
               div.card
                  img(src='/images/slide-3.png' width="250px" height="250px" alt="Товар 3")
                  div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, орех
               div.card
                  img(src='/images/slide-4.png' width="250px" height="250px" alt="Товар 4")
                  div.description Набор настольный BESTAR "Hercules" из дерева, 5 предметов, двойной лоток, красное дерево
               div.card
                  img(src="/images/slide-1.png" width="250px" height="250px" alt="Товар 1")
                  div.description Набор настольный BESTAR "Amenhotep" из дерева, 8 предметов, двойной лоток, светлая вишня
               div.card
                  img(src="/images/slide-2.png" width="250px" height="250px" alt="Товар 2")
                  div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, красное дерево
               div.card
                  img(src='/images/slide-3.png' width="250px" height="250px" alt="Товар 3")
                  div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, орех
               div.card
                  img(src='/images/slide-4.png' width="250px" height="250px" alt="Товар 4")
                  div.description Набор настольный BESTAR "Hercules" из дерева, 5 предметов, двойной лоток, красное дерево




