doctype html
html(lang='en')
    head
        title Slider
    body
        div.container
           div.slide-box
               img(src="/images/slide-1.png" width="200px" height="200px" alt="Товар 1")
               img(src="/images/slide-2.png" width="200px" height="200px" alt="Товар 2")
               img(src='/images/slide-3.png' width="200px" height="200px" alt="Товар 3")
               img(src='/images/slide-4.png' width="200px" height="200px" alt="Товар 4")
               img(src="/images/slide-1.png" width="200px" height="200px" alt="Товар 1")
               img(src="/images/slide-2.png" width="200px" height="200px" alt="Товар 2")
               img(src='/images/slide-3.png' width="200px" height="200px" alt="Товар 3")
               img(src='/images/slide-4.png' width="200px" height="200px" alt="Товар 4")




