doctype html
html(lang='en')
    head
        title Slider
    body
        div.container
           div.slide-box
               div.card
                  div.card-1
                  div.description Набор настольный BESTAR "Amenhotep" из дерева, 8 предметов, двойной лоток, светлая вишня
               div.card
                  div.card-2
                  div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, красное дерево
               div.card
                  div.card-3
                  div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, орех
               div.card
                  div.card-4
                  div.description Набор настольный BESTAR "Hercules" из дерева, 5 предметов, двойной лоток, красное дерево
               div.card
                   div.card-1
                   div.description Набор настольный BESTAR "Amenhotep" из дерева, 8 предметов, двойной лоток, светлая вишня
               div.card
                   div.card-2
                   div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, красное дерево
               div.card
                   div.card-3
                   div.description Набор настольный BESTAR "Charon" из дерева, 7 предметов, двойной лоток, орех
               div.card
                   div.card-4
                   div.description Набор настольный BESTAR "Hercules" из дерева, 5 предметов, двойной лоток, красное дерево




