
.container {
  display: flex;
  flex-flow: column;
  margin-top: 36px;
  margin-left: 50px;
}

.btns-box-1 {
  display: flex;
}

.btns-box-2 {
  display: flex;
  margin-top: 14px;
}

.column-grey-buttons, .column-red-border-buttons,
.column-red-buttons, .column-arrow-buttons,
.column-green-buttons, .column-green-border-buttons {
  display: flex;
  flex-flow: column;
}

.row-pic-buttons {
  display: flex;
}

.btn {
  width: 102px;
  height: 32px;
  border-radius: 4px;
  margin-bottom: 9px;
  margin-right: 17px;
  font-family: Open-Sans;
  font-size: 12px;
  border: #c3c3c3 1px solid;
}

.btn:focus {
  outline: 0;
  outline-offset: 0;
}

.grey--hover {
  background: #f4f4f4;
}

.grey--active {
  background: #e1e1e1;
  opacity: 0.8;
}

.grey--inactive {
   opacity: 0.6;
}

.btn--red-border {
  border: #dc241f 2px solid;
}

.red-border--hover {
  background: #f4f4f4;
}

.red-border--active {
  background: #e1e1e1;
}

.red-border--inactive {
  opacity: 0.6;
  border: #d3d3d3 2px solid;
}

.btn--red {
  border: none;
  background: #ca130c;
  color: white;
}

.red--hover {
  background: #e83029;
}

.red--active {
  background: #a9120c;
}

.red--inactive {
  opacity: 0.5;
}

.btn--arrow {
  padding-right: 17px;
  background: #ebebeb url('../../../images/arrow.png') 80px 5px no-repeat;
}

.arrow--hover {
  background-color: #f4f4f4;
}

.arrow--active {
  opacity: 0.7;
  background: #e1e1e1 url('../../../images/arrow.png') 80px 5px no-repeat;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.arrow--inactive {
  opacity: 0.4;
  border: #d3d3d3 1px solid;
  background: #ebebeb url('../../../images/arrow.png') 80px 5px no-repeat;
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
}

.btn--green {
  border: none;
  background: #6e9735;
  color: white;
}

.green--hover {
  background: #85b444;
}

.green--active {
  background: #5e822b;
}

.green--inactive {
  opacity: 0.5;
}

.btn--green-border {
  border: #6e9735 2px solid;
}

.green-border--hover {
  background: #f4f4f4;
}

.green-border--active {
  background: #e1e1e1;
  opacity: 0.8;
}

.green-border--inactive {
  opacity: 0.6;
  border: #d3d3d3 2px solid;
}

.btn--pic {
  border: #afafaf 1px solid;
  margin-right: 9px;
  padding-left: 23px;
}

.edit {
  width: 128px;
  background: #ebebeb url('../../../images/edit.png') 9px 6px no-repeat;
}

.unload {
  width: 145px;
  background: #ebebeb url('../../../images/upload.png') 9px 6px no-repeat;
}

.delete-list {
  width: 130px;
  background: #ebebeb url('../../../images/del.png') 9px 6px no-repeat;
}

.print {
  width: 117px;
  background: #ebebeb url('../../../images/print.png') 9px 6px no-repeat;
}

.load {
  width: 155px;
  background: #ebebeb url('../../../images/download.png') 9px 6px no-repeat;
}