html {
  padding-top: 25px;
}

body {
  width: 80%;
  padding: 20px;
  margin: auto;
  background-color: #E1EDEB;
}

h1 {
  font-family: 'Kurale', 'Arial Black', serif;
  font-weight: bold;
  padding-left: 60px;
  color: #6A94CC;
  font-size: 30px;
  margin: 0;
}

h2 {
  color: #B1967C;
  font-family: 'Kurale', 'Arial Black', serif;
  font-weight: normal;
  font-size: 23px;
  padding: 0 0 2px 60px;
  margin-top: 20px;
}

p, address {
  font-family: "Palatino Linotype", Baskerville, serif;
  font-size: 17px;
  color: #616161;
  text-indent: 15px;
  margin: 20px 0 0 60px;
  padding-bottom: 5px;
  border-bottom: 2px white solid;
}

a {
  font-family: "Palatino Linotype", Baskerville, serif;
  font-size: 17px;
  color: #616161;
  text-indent: 15px;
}

.links {
  display: flex;
  flex-flow: column;
  padding: 20px 0 2px 60px;
}

ul {
  padding: 20px 0 2px 120px;
}

li {
  font-family: "Palatino Linotype", Baskerville, serif;
  font-size: 17px;
  color: #616161;
}



