/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 766px;
  height: 654px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background: #dddce3;
}

.form-box-sheet-1 {
  width: 650px;
  height: 500px;
  margin-top: 91px;
  margin-right: 2px;
  display: flex;
  flex-flow: column;
  background: #f5f5f6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 3;
}

.form-box-sheet-2 {
  width: 646px;
  height: 503px;
  margin-top: 91px;
  margin-right: 2px;
  background: #f5f5f6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 2;
}

.form-box-sheet-3 {
  width: 638px;
  height: 505px;
  margin-top: 91px;
  margin-right: 2px;
  background: #f5f5f6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
}

.form-main {
  height: 158px;
  background: rgb(250,250,250);
  display: flex;
  flex-flow: column;
}

.form-additional {
  height: 140px;
  background: #fff7c0;
}
.form-footer {

}
.form-main {
  display: flex;
  flex-flow: column;
}

.form-main-head {
  margin-top: 22px;
  margin-left: 205px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.form-main .text-field-name {
  display: flex;
  align-items: center;
  margin-top: 19px;
  margin-left: 162px;
}

.form-main .text-field-name label {
  margin-right: 12px;
  font-family: Montserrat-Regular;
  color: black;
  font-size: 13px;
}

.text-field-name input {
  width: 304px;
  height: 26px;
  margin-right: 12px;
  font-family: Montserrat-Regular;
  font-size: 13px;
  border: none;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, .1),
  inset -1px -0.5px 1px rgba(0, 0, 0, .02);
  background: rgb(250,250,250);

}
input:focus, textarea:focus, button:focus {
  outline: 0;
  outline-offset: 0;
}
.text-field-color {
  margin-top: 14px;
  margin-left: 26px;
}
.text-field-color label{
  font-family: Montserrat-Regular;
  color: black;
  font-size: 13px;
}
.text-field-color input {
  width: 48px;
  height: 25px;
  margin-left: 7px;
  border: none;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, .1),
  inset -1px -0.5px 1px rgba(0, 0, 0, .02);
  background: url('../../../images/rectangle.svg') 5px 7px no-repeat;;
}

.text-field-name :-moz-placeholder, .text-field-color :-moz-placeholder {
  font-family: Montserrat-Regular;
  color: black;
  font-size: 14px;
  line-height: 18px;
}

.text-field-name ::-webkit-input-placeholder, .text-field-color ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: gray;
  font-size: 13px;
  line-height: 18px;
}

.form-additional {
  display: flex;
  flex-flow: column;
  border-top: #FFFFFF 1px solid;
}

.form-additional-head {
  margin-top: 16px;
  margin-left: 205px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.textarea-box {
  display: flex;
  margin-top: 19px;
  margin-left: 96px;

}

.form-additional label {
  margin-right: 12px;
  font-family: Montserrat-Regular;
  color: black;
  font-size: 13px;
  padding-top: 7px;
}

.form-additional textarea {
  width: 302px;
  height: 60px;
  font-family: Montserrat-Regular;
  color: black;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 0 0 4px;
  border: none;
  background: rgb(250,250,250);
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, .1),
  inset -1px -0.5px 1px rgba(0, 0, 0, .02);
}

textarea::-webkit-input-placeholder {
  width: 200px;
}

textarea:-moz-placeholder {
  width: 200px;
}
.form-footer {
  display: flex;
  flex-flow: column;
}

.radio-box {
  margin-top: 26px;
  margin-left: 203px;
}
.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio-text {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
  font-family: Montserrat-Regular;
  color: black;
  font-size: 13px;

}
.radio-text:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio-text:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #904b92;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
}
.radio input:checked + .radio-text:after {
  opacity: 1;
}

.checkbox {
  margin-left: 203px;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 7px 0 0 20px;
}
.checkbox-text {
  width: 250px;
  position: relative;
  padding: 3px 0 0 20px;
  cursor: pointer;
  font-family: Montserrat-Regular;
  color: black;
  font-size: 13px;
  line-height: 18px;
}

.checkbox-text:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid #CDD1DA;
  background: white;
}

.checkbox input:checked + .checkbox-text:before {
  background: #fff7c0 url('../../../images/checkboxMarker.svg') 2px 0 no-repeat;
}

.form-footer button {
  width: 280px;
  height: 45px;
  margin-top: 15px;
  margin-left: 203px;
  //background: #886feb;
  box-shadow: inset 0 -1px 0px rgba(0,0,0,.5),
  0 2px 4px rgba(0,0,0,.5);
  background: linear-gradient(#5b43d9, #886feb, #5b43d9);
  border: none;
  border-radius: 5px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  color: white;
  font-size: 17px;
  text-shadow: black 0px -1px 1px;
}

.header {
  width: 650px;
  margin-top: 40px;
  margin-left: -3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__text-1 {
  font-family: Montserrat-Regular;
  font-size: 26px;
  font-weight: bold;
  text-shadow: white 1px 1px 1px;
}

.header__text-2 {
  font-family: Montserrat-Regular;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: white 1px 1px 1px;
}

.shadow-under-form {
  width: 650px;
  height: 505px;
  margin-top: 15px;

}
.effect2
{
  position: relative;
  z-index: 0;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.effect1 {
  position:relative;
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
}
.effect1:before, .effect1:after

{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 7px rgba(0,0,0,0.1);
  -moz-box-shadow:0 0 7px rgba(0,0,0,0.1);
  box-shadow:0 0 7px rgba(0,0,0,0.1);
  top:50%;
  bottom:0;
  left:13px;
  right:13px;
}






