
.slide-box{
  display: flex;
  width: 1200px;
  height: 444px;
  overflow: scroll;
}

.card {
  display: flex;
  flex-flow: column;
  margin: 2px 0 15px 0;
  border: #f0f0f0 1px solid;
  border-right: none;
}

img {
  margin: -3px 20px 0 20px;
}

.description {
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 10px;
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 20px;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #83141f;
}

::-webkit-scrollbar-thumb:vertical {
  display: none;
}

::-webkit-scrollbar-track-piece {
  border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}





